@model IEnumerable<LaburMarketObservatoryMVC5.Models.Skill>

@{
    ViewBag.Title = "المهارات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>المهارات</h2>

<p>
    @Html.ActionLink("اضافة مهارة جدبدة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skill_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skill_name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.skill_id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.skill_id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.skill_id })
        </td>
    </tr>
}

</table>
