@model IEnumerable<LaburMarketObservatoryMVC5.Models.Training>

@{
    ViewBag.Title = "الدورات التدريبية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>الدورات التدريبية</h2>

<p>
    @Html.ActionLink("اضافة دورة تدريبية", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.training_subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.training_instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.training_place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trainingStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.training_cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.training_subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.training_instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.training_place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trainingStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.training_cost)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.training_id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.training_id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.training_id })
        </td>
    </tr>
}

</table>
