@model LaburMarketObservatoryMVC5.Models.Feedback

@{
    ViewBag.Title = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تفاصيل</h2>

<div>
    <h4>اقتراح</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.feedback_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feedback_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.feedback_id }) |
    @Html.ActionLink("العودة الى القائمة", "Index")
</p>
