@model LaburMarketObservatoryMVC5.Models.SeekerQuestionnaire

@{
    ViewBag.Title = "اضافة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>اضافة استبيان باحث عن عمل</h2><br />


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>يمكنك ادخال رقم (1) تعبيرا منك عن اهمية الخيار (2) متوسط الاهمية (3) غير مهم.</h4>
        <hr /><br />
        <h4>ما هي ابرز مخاوفك عند دخول سوق العمل؟</h4><br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.no_suitable_opportunity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.no_suitable_opportunity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.no_suitable_opportunity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.low_pay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.low_pay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.low_pay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.routine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.routine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.routine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.long_job_seeking, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.long_job_seeking, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.long_job_seeking, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.not_enough_experience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.not_enough_experience, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.not_enough_experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><h4>ماذا تستطيع الجامعة ان تعمل لتساهم في رفم مستوى مهاراتك؟</h4><br /><br />

        <div class="form-group">
            @Html.LabelFor(model => model.contract, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contract, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contract, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kill_creativity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kill_creativity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kill_creativity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.update_content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.update_content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.update_content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.traning, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.traning, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.traning, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.keep_updated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.keep_updated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.keep_updated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.field_trips, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.field_trips, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.field_trips, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="اضافة" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("العودة الى القائمة", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
